@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

div#About{
	background: url("../../assets/background.png");
	background-size: 100% 100%;
	background-attachment: fixed;
	// filter: contrast(70%);
	// filter: brightness(60%);
}