@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

div.HomepageCont{
	height: 80vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	background-color: #191a27;
	
	h1#headingbanner {
  text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}


	img.Typingheading{
		width: 100%;
	}

	div.modal3d{
		height: 50%;
	}

	div.homeHeadTxt {
		// display: flex;
		// width: 100%;
		// justify-content: center;
		// flex-wrap: wrap;
		// h1{
		// 	text-align: center;
		// font-family: "Ubuntu Mono";
		// // font-size: 4vw;
		// span{
		// 	// background:-webkit-linear-gradient(120deg,#1a4e8f,#64a8fa);
		// 	// -webkit-background-clip: text;
		// 	// -webkit-text-fill-color: transparent;
		// }
		// }
	}
	
}

@media only screen and (min-width:640px) {
	div.HomepageCont{
		height: 100vh;
	}
}