div.Card{
	height: 23rem;
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0.6rem;
	background: #80808018;
	background-clip: padding-box;
	backdrop-filter: blur(10px);

	div.Front{
		transition: all 250ms ;
		height: 95%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		img.teamMemPic{
			transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
		        max-width: 100%;
			width: 80%;
			height: 80%;
			max-height: 80%;
			border-radius: 0.7rem;
			object-fit: cover;
		}
	}

	div.back{
		height: 78%;
		width: 90%;
		display: none;
		transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
	        
		button{
			height: 3.4rem;
			width: 3.4rem;
			cursor: pointer;
			outline-width: 0;
			border: none;
			border-radius: 0.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #11121A;

			a i{
				color: #ffff;
			}
		}

		button:hover{
			opacity: 0.8;
		}
	}

	div.background{
		position: absolute;
		top: 0%;
		left: 0%;
		bottom: 0%;
		height: 100%;
		width: 100%;
		z-index: -1;
		background: rgba(255, 255, 255, 0.897);	
	        transform: scale(0.001);
		transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
		border-radius: 0.7rem;
	}
	
}

div.Card:hover{
	div.Front{
		height: 85%;
		img{
			width: 70%;
			height: 95%;
			transform: translateY(-2.6rem)
		}
		h1{
			color: #11121A;
		}
	}
	div.back{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;

	}
	div.background{
		transform: scale(1);
	}
}


@media (min-width:640px) {
	div#idk{
		width: 95%;
		height: 22rem;

		div.back{
			button{
				height: 2.5rem;
				width: 2.5rem;
			}
		}
	}
}

@media (min-width:1000px) {
	div#idk{
		width: 75%;
	}
}